<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header }}
    <p>{{ screamIt welcomeMessage}}</p>
    <p>Con cò say rượu ban đêm</p>
    <p>Đậu phải cành mềm lộn cổ xuống ao</p>
    <p>Anh đây chẳng uống ngụm nào</p>
    <p>Cũng say ngây ngất ngã vào lòng em</p>


    {{> footer }}
  </body>
</html>
